In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('2021_responses.csv')
print(df.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'first_name', 'last_name',
       'Email', 'class_year', 'genre_1', 'genre_1_other', 'genre_2',
       'genre_2_other', 'genre_3', 'genre_3_other', 'genre_4', 'genre_4_other',
       'genre_5', 'genre_5_other', 'num_genres', 'songs_1', 'songs_2',
       'songs_3', 'songs_4', 'songs_5', 'artist_1', 'artist_1_other',
       'artist_1_min', 'artist_2', 'artist_2_other', 'artist_3',
       'artist_3_other', 'artist_4', 'artist_4_other', 'artist_5',
       'artist_5_other', 'min_total', 'top_song_plays', 'aura_1', 'aura_2'],
      dtype='object')

In [8]:
df = df[df.columns[17:]]
df = df.iloc[3:]

In [11]:
#incomplete = df[df["genre_2"].isna() | df["genre_3"].isna() | df["genre_4"].isna() | df["genre_5"].isna() | (df["artist_2"].isna() & df["artist_3"].isna() & df["artist_4"].isna() & df["artist_5"].isna())]
#complete = df[~df["genre_2"].isna() & ~df["genre_3"].isna() & ~df["genre_4"].isna() & ~df["genre_5"].isna() & (~df["artist_2"].isna() | ~df["artist_3"].isna() | ~df["artist_4"].isna() | ~df["artist_5"].isna())]

In [15]:
for col in ["genre", "artist"]:
    for i in range(1, 6):
        incomplete[col + "_" + str(i)][incomplete[col + "_" + str(i)] == "Other"] = incomplete[col + "_" + str(i) + "_other"]
        incomplete[col + "_" + str(i)][incomplete[col + "_" + str(i)].isna()] = incomplete[col + "_" + str(i) + "_other"]
        
#genres to all lowercases
for i in range(1, 6):
    incomplete["genre_" + str(i)] = incomplete["genre_" + str(i)].str.lower()
    incomplete["artist_" + str(i)] = incomplete["artist_" + str(i)].str.lower()
    
incomplete.to_csv("faulty_people_responses.csv")

<ipython-input-15-b1e7cd43d8fd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incomplete["genre_" + str(i)] = incomplete["genre_" + str(i)].str.lower()
<ipython-input-15-b1e7cd43d8fd>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incomplete["artist_" + str(i)] = incomplete["artist_" + str(i)].str.lower()

In [16]:
df = df[df.first_name != "a"]

In [13]:
print(len(incomplete))

17

In [14]:
print(len(complete))

280

In [17]:
df.isna().sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1            29
genre_1_other     291
genre_2             8
genre_2_other     286
genre_3            11
genre_3_other     287
genre_4            11
genre_4_other     286
genre_5            11
genre_5_other     283
num_genres         69
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1            4
artist_1_other    161
artist_1_min      137
artist_2           10
artist_2_other    157
artist_3           12
artist_3_other    154
artist_4           13
artist_4_other    159
artist_5           12
artist_5_other    143
min_total          58
top_song_plays     89
aura_1             50
aura_2             52
dtype: int64

In [92]:
complete[complete['artist_1'].isna()]

,first_name,last_name,Email,class_year,genre_1,genre_1_other,genre_2,genre_2_other,genre_3,genre_3_other,...,artist_3,artist_3_other,artist_4,artist_4_other,artist_5,artist_5_other,min_total,top_song_plays,aura_1,aura_2
76,Amber,Li,amli@mit.edu,2022,K-pop,NaN,C-pop,NaN,Melodic dubstep,NaN,...,Other,Porter Robinson,Other,San Holo,Taylor Swift,NaN,16515,21,healing,focused

In [18]:
(df == "Other").sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             6
genre_1_other       0
genre_2            11
genre_2_other       0
genre_3            10
genre_3_other       0
genre_4            11
genre_4_other       0
genre_5            14
genre_5_other       0
num_genres          0
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1          136
artist_1_other      0
artist_1_min        0
artist_2          142
artist_2_other      0
artist_3          146
artist_3_other      0
artist_4          139
artist_4_other      0
artist_5          155
artist_5_other      0
min_total           0
top_song_plays      0
aura_1              0
aura_2              0
dtype: int64

In [19]:
for col in ["genre", "artist"]:
    for i in range(1, 6):
        df[col + "_" + str(i)][df[col + "_" + str(i)] == "Other"] = df[col + "_" + str(i) + "_other"]
        df[col + "_" + str(i)][df[col + "_" + str(i)].isna()] = df[col + "_" + str(i) + "_other"]

In [20]:
(complete == "Other").sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             5
genre_1_other       0
genre_2            10
genre_2_other       0
genre_3            10
genre_3_other       0
genre_4            11
genre_4_other       0
genre_5            13
genre_5_other       0
num_genres          0
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1          128
artist_1_other      0
artist_1_min        0
artist_2          135
artist_2_other      0
artist_3          140
artist_3_other      0
artist_4          132
artist_4_other      0
artist_5          146
artist_5_other      0
min_total           0
top_song_plays      0
aura_1              0
aura_2              0
dtype: int64

In [103]:
complete.isna().sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             0
genre_1_other     253
genre_2             0
genre_2_other     248
genre_3             0
genre_3_other     249
genre_4             0
genre_4_other     248
genre_5             0
genre_5_other     246
num_genres         60
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1            1
artist_1_other    141
artist_1_min      115
artist_2            7
artist_2_other    138
artist_3            9
artist_3_other    134
artist_4            8
artist_4_other    140
artist_5            7
artist_5_other    125
min_total          47
top_song_plays     77
aura_1             43
aura_2             45
dtype: int64

In [21]:
#genres to all lowercases
for i in range(1, 6):
    df["genre_" + str(i)] = df["genre_" + str(i)].str.lower()
    df["artist_" + str(i)] = df["artist_" + str(i)].str.lower()

In [22]:
df.to_csv("cleaned_responses.csv")

In [5]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

username='ajarora'
password='Irwtgs!!'
mailServer = smtplib.SMTP('outgoing.mit.edu', 587)
mailServer.ehlo()
mailServer.starttls()
mailServer.ehlo()
mailServer.login(username, password)

sender_mail = "ajarora@mit.edu"
for cluster in range(1, 2):
    df = pd.read_excel(open('output final.xlsx', 'rb'),
              sheet_name='Sheet' + str(cluster))  
    receivers_mail = list(df['Email'])
    print(receivers_mail)
    receivers_mail = ['ajarora@mit.edu']
    to = ", ".join(receivers_mail)
    msg = MIMEText("Hi everyone,\nYou are in group " + str(cluster) + " for this year's music match! To find your group and new songs to listen to, check out your group\'s sheet (so group 26 has a sheet named \"Group26\") here: https://docs.google.com/spreadsheets/d/1D9jjMo7VNeRguHT4pXxHMQQ5i_8GgXbN/edit?usp=sharing&ouid=108111349943323864126&rtpof=true&sd=true"+ "\nGood luck with finals, and happy listening!\nThe UA")

    msg['Subject'] = "Test email part 2"
    msg['From'] = sender_mail
    msg['To'] = to
    #subject = 
    #link = "https://docs.google.com/spreadsheets/d/1D9jjMo7VNeRguHT4pXxHMQQ5i_8GgXbN/edit?usp=sharing&ouid=108111349943323864126&rtpof=true&sd=true"
    #body = ("Hi everyone,\nYou are in group " + str(cluster) + " for this year's music match! To find your group and new songs to listen to, check out your group\'s sheet (so group 26 has a sheet named \"Group26\") here: https://docs.google.com/spreadsheets/d/1D9jjMo7VNeRguHT4pXxHMQQ5i_8GgXbN/edit?usp=sharing&ouid=108111349943323864126&rtpof=true&sd=true"+ "\nGood luck with finals, and happy listening!\nThe UA")
    #message = """\
    #From: %s
    #To: %s
    #Subject: %s
    #
    #%s
    #""" % (sender_mail, to, subject, body)
#message = """Subject: Python testing mail#
#
#            This mail is sent using Python SMTP."""
    mailServer.sendmail(sender_mail, to, msg.as_string())
    mailServer.close()

print('email sent!')
'''

SMTP Server	outgoing.mit.edu
Port	465 (SSL) or 587 (TLS)
Username	Kerberos username (without @mit.edu)
Password	Kerberos Password
'''

['cmclcas@mit.edu', 'scigwe@mit.edu', 'ssalwan@mit.edu', 'agarces2@mit.edu', 'atmargi@mit.edu']
email sent!

'\n\nSMTP Server\toutgoing.mit.edu\nPort\t465 (SSL) or 587 (TLS)\nUsername\tKerberos username (without @mit.edu)\nPassword\tKerberos Password\n'