In [43]:
import pandas as pd

In [84]:
df = pd.read_csv('2021_responses.csv')
print(df.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'first_name', 'last_name',
       'Email', 'class_year', 'genre_1', 'genre_1_other', 'genre_2',
       'genre_2_other', 'genre_3', 'genre_3_other', 'genre_4', 'genre_4_other',
       'genre_5', 'genre_5_other', 'num_genres', 'songs_1', 'songs_2',
       'songs_3', 'songs_4', 'songs_5', 'artist_1', 'artist_1_other',
       'artist_1_min', 'artist_2', 'artist_2_other', 'artist_3',
       'artist_3_other', 'artist_4', 'artist_4_other', 'artist_5',
       'artist_5_other', 'min_total', 'top_song_plays', 'aura_1', 'aura_2'],
      dtype='object')

In [85]:
df = df[df.columns[17:]]
df = df.iloc[3:]

In [86]:
incomplete = df[df["genre_1"].isna() | df["genre_2"].isna() | df["genre_3"].isna() | df["genre_4"].isna() | df["genre_5"].isna() | (df["artist_2"].isna() & df["artist_3"].isna() & df["artist_4"].isna() & df["artist_5"].isna())]
complete = df[~df["genre_1"].isna() & ~df["genre_2"].isna() & ~df["genre_3"].isna() & ~df["genre_4"].isna() & ~df["genre_5"].isna() & (~df["artist_2"].isna() | ~df["artist_3"].isna() | ~df["artist_4"].isna() | ~df["artist_5"].isna())]

In [87]:
complete = complete[complete.first_name != "a"]

In [88]:
print(len(incomplete))

39

In [89]:
print(len(complete))

258

In [90]:
complete.isna().sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             0
genre_1_other     253
genre_2             0
genre_2_other     248
genre_3             0
genre_3_other     249
genre_4             0
genre_4_other     248
genre_5             0
genre_5_other     246
num_genres         60
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1            1
artist_1_other    141
artist_1_min      115
artist_2            5
artist_2_other    138
artist_3            6
artist_3_other    134
artist_4            7
artist_4_other    140
artist_5            6
artist_5_other    125
min_total          47
top_song_plays     77
aura_1             43
aura_2             45
dtype: int64

In [92]:
complete[complete['artist_1'].isna()]

,first_name,last_name,Email,class_year,genre_1,genre_1_other,genre_2,genre_2_other,genre_3,genre_3_other,...,artist_3,artist_3_other,artist_4,artist_4_other,artist_5,artist_5_other,min_total,top_song_plays,aura_1,aura_2
76,Amber,Li,amli@mit.edu,2022,K-pop,NaN,C-pop,NaN,Melodic dubstep,NaN,...,Other,Porter Robinson,Other,San Holo,Taylor Swift,NaN,16515,21,healing,focused

In [93]:
(complete == "Other").sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             5
genre_1_other       0
genre_2            10
genre_2_other       0
genre_3             9
genre_3_other       0
genre_4            10
genre_4_other       0
genre_5            12
genre_5_other       0
num_genres          0
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1          117
artist_1_other      0
artist_1_min        0
artist_2          122
artist_2_other      0
artist_3          127
artist_3_other      0
artist_4          119
artist_4_other      0
artist_5          134
artist_5_other      0
min_total           0
top_song_plays      0
aura_1              0
aura_2              0
dtype: int64

In [101]:
for col in ["genre", "artist"]:
    for i in range(1, 6):
        complete[col + "_" + str(i)][complete[col + "_" + str(i)] == "Other"] = complete[col + "_" + str(i) + "_other"]
        complete[col + "_" + str(i)][complete[col + "_" + str(i)].isna()] = complete[col + "_" + str(i) + "_other"]

In [102]:
(complete == "Other").sum()

first_name        0
last_name         0
Email             0
class_year        0
genre_1           0
genre_1_other     0
genre_2           0
genre_2_other     0
genre_3           0
genre_3_other     0
genre_4           0
genre_4_other     0
genre_5           0
genre_5_other     0
num_genres        0
songs_1           0
songs_2           0
songs_3           0
songs_4           0
songs_5           0
artist_1          0
artist_1_other    0
artist_1_min      0
artist_2          0
artist_2_other    0
artist_3          0
artist_3_other    0
artist_4          0
artist_4_other    0
artist_5          0
artist_5_other    0
min_total         0
top_song_plays    0
aura_1            0
aura_2            0
dtype: int64

In [103]:
complete.isna().sum()

first_name          0
last_name           0
Email               0
class_year          0
genre_1             0
genre_1_other     253
genre_2             0
genre_2_other     248
genre_3             0
genre_3_other     249
genre_4             0
genre_4_other     248
genre_5             0
genre_5_other     246
num_genres         60
songs_1             0
songs_2             0
songs_3             0
songs_4             0
songs_5             0
artist_1            1
artist_1_other    141
artist_1_min      115
artist_2            7
artist_2_other    138
artist_3            9
artist_3_other    134
artist_4            8
artist_4_other    140
artist_5            7
artist_5_other    125
min_total          47
top_song_plays     77
aura_1             43
aura_2             45
dtype: int64

In [104]:
#genres to all lowercases
for i in range(1, 6):
    complete["genre_" + str(i)] = complete["genre_" + str(i)].str.lower()

In [105]:
complete.to_csv("cleaned_responses.csv")

In [108]:
import smtplib

username='ajarora'
password='******'
mailServer = smtplib.SMTP('outgoing.mit.edu', 587)
mailServer.ehlo()
mailServer.starttls()
mailServer.ehlo()
mailServer.login(username, password)

sender_mail = "ajarora@mit.edu"
receivers_mail = ['ajayarora1235@gmail.com']
to = ", ".join(receivers_mail)
subject = "Test email part 2"
message = """\
From: %s
To: %s
Subject: %s

%s
""" % (sender_mail, ", ".join(receivers_mail), subject, "This mail is sent using Python SMTP.")
#message = """Subject: Python testing mail#
#
#            This mail is sent using Python SMTP."""
mailServer.sendmail(sender_mail, to, message)
mailServer.close()

print('email sent!')
'''

SMTP Server	outgoing.mit.edu
Port	465 (SSL) or 587 (TLS)
Username	Kerberos username (without @mit.edu)
Password	Kerberos Password
'''

email sent!

'\n\nSMTP Server\toutgoing.mit.edu\nPort\t465 (SSL) or 587 (TLS)\nUsername\tKerberos username (without @mit.edu)\nPassword\tKerberos Password\n'